<form (ngSubmit)="login(myForm)" #myForm="ngForm">

    @if (myForm.invalid && myForm.submitted) {
        <p>Formulaire invalide !</p>
        <!-- @if (myForm.controls['email'].hasError('required')) {
            <p>Email obligatore</p>
        } -->
        @if (email.hasError('required')) {
            <p>Email obligatoire</p>
        }
        @if (email.hasError('minlength')) {
            @let emailError = email.getError('minlength');
            <p>Vous avez mis {{ emailError.actualLength }} caractères, 
                {{emailError.requiredLength }} caractères obligatoires</p>
        }
    }

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required minlength="3">

    <label>Mot de passe</label>
    <input type="password" name="password" ngModel>

    <button>Se connecter</button>
</form>